/**** MOBILE FIRST ****/

html {
    font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
	max-width: 1200px;
 }

h1,
h2,
h3,
h4 {
	color: black;
    font-weight: 700;
    text-transform: uppercase;
}

h1 { font-size: 1.875em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.125em; }
h4 { font-size: 0.75em; }

p {
	font-size: 0.875em;
	line-height: 1.3125em;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-align: center;
    border-bottom: 3px solid #77a466;
}

header h1 {
     width: 90%;
     padding-bottom: 0.5em;
     border-bottom: 3px solid #77a466;
}

header h1 span {
	color: #77a466;
}

header nav {
    margin-bottom: 1em;
    width: 90%;
    text-align: center;
}

header nav ul { padding-left: 0;}

header nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
	font-size: 0.875em;
    font-weight: 700;
    line-height: 3em;
    list-style: none;
    text-transform: uppercase;
}

header nav ul li a{
    color:#77a466;
    text-decoration: none;
}

.top-section,
.bottom-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
    margin-bottom: 1em;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.main-image img {
	width: 100%;
    height: auto;
    border-bottom: 3px solid #77a466;
}

.main-title {
    margin-top: 2em;
}

.main-title h3 {
    color: #77a466;
	padding: 5px 0;
    text-align: left;
}
.main-title p {
    font-size: 16px;
	line-height: 25px;
	padding: 0;	
}

.section-one,
.section-two,
.section-three {
    width: 100%;
    height: auto;
	border-top: 1px solid #eee;
}

.section-one h4 {
	padding: 10px 0;
}

.section-two {
    padding: 1em 0;
	}

.section-three {
    padding-top: 1em;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
    color:#77a466;
    padding: 10px 0;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

footer {
    margin-top: 2em;
	border-top: 3px solid #eee;
    height: 50px;
    text-align: center;
}

footer span {
    color: #77a466;
	font-family: 'Galada', cursive;
    font-size: 0.875em;
    text-transform: lowercase;
}



/**** TABLET ****/

@media (min-width: 768px) {
    
    .section-one,
    .section-two,
    .section-three {
              width: 30%;
              padding-right: 1em;
              border-bottom: 1px solid #eee; 
    }
    
    .section-one,
    .section-two {
              border-right: 1px solid #eee; 
    }
    
    .section-two,
    .section-three {
              padding-left: 1em;
    }
}





/**** DESKTOP ****/

@media (min-width: 1200px) {
    header nav ul {
        display: flex;
        justify-content: space-between;
    }
}


